*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(images/bg1.png);
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

/* ****************Login pages****************** */
.login{
    margin: 5% auto;
    width: 50%;
    min-width: 424px;
    text-align: center;
}

.login img{
    width: 30%;
    margin: 0 auto;
    min-width: 127px;
    display: block;
}

.login h1{
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: solid 3px #0AB3AE;
    min-width: 260px;
}

.login a{
    width: 50%;
    background-color: #0AB3AE;
    border: none;
    margin-top: 10px;
}

.btn{
    height: 40px;
    min-width: 185px;
}

.btn:hover{
    background-color: #FFF584;
    color: black;
    box-shadow: 5px 5px 5px rgb(202, 202, 202);
}

form{
    margin: 15px 0;
}

input{
    height: 40px;
    width: 50%;
    min-width: 185px;
    border: solid 1px #0AB3AE;
    border-radius: 5px;
}

@media screen and (max-width: 650px) {
    body{
        background-image: url(images/mobile-bg.png);
    }

    .login{
        margin: 10% auto;
        width: 50%;
        min-width: 260px;

    }
  }
