@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.wrapper {
    display: flex;
    position: relative;
}

    .wrapper .sidebar {
        width: 20%;
        height: 100vh;
        min-width: 185px;
        border-right: 3px solid #0ab3ae;
        text-align: center;
    }

h1 {
    font-size: 35px;
    position: relative;
    margin: 3px auto;
    font-family: 'Poppins', sans-serif;
}

    h1::after {
        content: "";
        position: absolute;
        bottom: -6px;
        height: 4px;
        width: 40%;
        left: -5px;
        right: 0px;
        margin: auto;
        background-color: #23aea3;
    }


.wrapper .sidebar .logo {
    padding: 10px;
    width: 250px;
    height: 250px;
   

}

.wrapper .sidebar .btn {
    margin: 30px 0 10px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background: #23aea3;
    border: 1px solid #23aea3;
    font-family: 'Poppins', sans-serif;
}



.btn:hover, .btn:focus, .btn:active {
    box-shadow: 0 0 10px #000000;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
i {
    color: #23aea3;
}

.sidebar ul i {
    align-items: center;
}

.sidebar ul li i {
    margin-top: 30px;
    margin-left: -5px;
    font-size: 40px;
}

.container {
    
    padding: 80px;
    width: 525px;
    height:100%;
    background-color:#ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    position: absolute;
    text-align:center;
    top:-5%;
    left: 43%;
    
}
h2 {
    font-size: 30px;
    position: relative;
    margin: 3px auto;
    text-align:center;
    margin-left:-25px;
}

    h2::after {
        content: "";
        position: absolute;
        bottom: -6px;
        height: 4px;
        width: 60%;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #23aea3;
    }
.login_form {
   
    padding: 100px 50px;
    font-weight: bold;
}

    .login_form .font {
        color: black;
        margin: 10px 0;
        font-size: 20px;
        margin-left: -40px;
        margin-top:20px;
    }

  
    .login_form input {
        height: 45px;
        width: 365px;
        padding: 0 5px;
        font-size: 20px;
        outline: none;
        border: 3px solid #23aea3;
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
        margin-left: -50px;
    }
    .login_form button {
        margin: 45px 0 30px 0;
        height: 45px;
        width: 365px;
        font-size: 20px;
        color: #ffffff;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 10px;
        background: #23aea3;
        border: 1px solid #23aea3;
        font-family: 'Poppins', sans-serif;
        transition: .3s;
        margin-left: -51px;
    }

        .login_form button:hover {
            background: #08e8de;
        }

    .login_form #email_error,
    .login_form #pass_error,
    .login_form #surname_error,
    .login_form #name1_error,
    .login_form #pnum_error {
        margin-top: 5px;
        width: 355px;
        font-size: 18px;
        color: #be0808;
        background: #ffffff;
        text-align: left;
        padding: 5px 10px;
        border-radius: 5px;
        display: none;
    }

.select-menu {
    width: 300px;
    cursor: pointer;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    top:-85px;
    margin-left:90px;
}

.select {
    background-color: #201e1e;
    padding: 20px;
    color: #fff;
    font-weight: 500;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.options-list {
    position: absolute;
    width: 88%;
    background-color: #f9f9f9;
    border-radius: 6px;
    margin-top: 14px;
    padding: 0 20px;
    max-height: 180px;
    overflow-y: auto;
    transition: .4s linear .2s;
    height: 0;
}

.option {
    padding: 8px 0;
    font-weight: 500;
    font-size: 18px;
    transition: .3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

    .option:hover,
    .option.selected {
        color: #23aea3;
    }

.options-list::-webkit-scrollbar {
    width: 4px;
    background-color: #23aea3;
}

.options-list::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.options-list.active {
    height: 180px;
}
